<header>
    <div id="project">
        {{ project.name }}
        {% if project.resume %}
        <br/><span id="project_resume">{{ project.resume }}</span>
        {% endif %}
    </div>
    <nav>
        <ul>
            <li><a href="{{ root_path }}index.{{ FILE_EXTENSION }}">Overview</a></li>
            {% if index.namespace %}
                <li><a href="{{ root_path }}namespaces.{{ FILE_EXTENSION }}">Namespaces</a></li>
            {% endif %}
            {% if index.xpathExists('.//' ~ XML_PREFIX_PHPDOC ~ ':interface') %}
                <li><a href="{{ root_path }}interfaces.{{ FILE_EXTENSION }}">Interfaces</a></li>
            {% endif %}
            {% if index.xpathExists('.//' ~ XML_PREFIX_PHPDOC ~ ':class') %}
                <li><a href="{{ root_path }}classes.{{ FILE_EXTENSION }}">Classes</a></li>
            {% endif %}
            {% if index.xpathExists('.//' ~ XML_PREFIX_PHPDOC ~ ':trait') %}
                <li><a href="{{ root_path }}traits.{{ FILE_EXTENSION }}">Traits</a></li>
            {% endif %}
        </ul>
    </nav>
</header>