{% extends 'base.html.twig' %}

{% block head_title %}Traits{% endblock %}
{% block title %}Traits{% endblock %}

{% block page %}
    {% for namespace in index.namespace %}
        {% if namespace.class %}
            <section>
                <h2 id="{{ namespace.name|escape('id') }}">{{ namespace.name }}</h2>

                <table>
                    <thead>
                        <tr>
                            <th>Trait</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for trait in namespace.trait %}
                            <tr>
                                <td>
                                    <a href="classes/{{ (namespace.name ~ '\\' ~ trait.name)|escape('id') ~ '.' ~ FILE_EXTENSION }}">{{ trait.name }}</a>
                                </td>
                                <td>{{ trait.description|default(' ') }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        {% endif %}
    {% endfor %}
{% endblock %}
